@font-face {
    font-family: "Poppins";
    src: url("/imgs/Poppins-Regular.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
    z-index: 10000;
    min-width: 100%;
}

.main-div {
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    background-color: #ffffff;
    align-items: row;
    display: flex;
    text-align: row;
    position: relative;

}

.main-icon {
    margin-left: 5%;
    max-width: 50px;
    max-height: 34px;
    margin-top: 33px;

}

.main-text-img {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 27px;
}

.main-home {
    font-family: Poppins;
    font-weight: medium;
    font-size: 18px;
    margin-left: 14%;
    padding-top: 12px;
    min-width: 80px;
}

.main-shop {
    font-family: Poppins;
    font-weight: medium;
    font-size: 18px;
    margin-left: 5%;
    padding-top: 12px;
    min-width: 80px;
}

.main-about {
    font-family: Poppins;
    font-weight: medium;
    font-size: 18px;
    margin-left: 5%;
    padding-top: 12px;
    min-width: 80px;
}

.main-contact {
    font-family: Poppins;
    font-weight: medium;
    font-size: 18px;
    margin-left: 5%;
    padding-top: 12px;
    min-width: 80px;
}

.people-main {
    margin-left: 18%;
    width: 30px;
    height: auto;

}

.search-main,
.like-main,
.basket-main {
    padding-left: 2%;
    width: 30px;
    height: auto;
}

.basket-main {
    margin-left: 0%;
    padding-right: 5%;
}

.main-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 70px;
    top: 0.7%;
}

.icon-main-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
}

.langue {
    font-size: 16px;
    font-family: poppins;
    border: black 2px solid;
    padding: 10px;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 3%;
    margin-top: 1.5%;
}

.first-water-mark {
    width: 150px;
    margin-left: 5%;
    align-items: row;
    display: flex;
    text-align: row;
    position: relative;
}

.shop-first-div img {
    width: 100%;
}

.shop-first-div {
    width: 100%;
    align-items: row;
    display: flex;
    text-align: row;
    position: relative;
}

.home-shop-div {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.home-shop-div img {
    width: 10px;
    height: 10px;
}

.shop-info-p {
    position: absolute;
    z-index: 102;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
}

.shop-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-shop-div {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    position: absolute;
    margin-top: 150px;
}

.shop-span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.nav-div {
    width: 100%;
    height: 100px;
    background: hsla(33, 60%, 94%, 1);
    margin-top: -14px;
    z-index: 200;
    position: relative;
}

.div-img-nav {
    align-items: row;
    display: flex;
    position: relative;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    margin-left: 100px;
    gap: 30px;
    padding-right: 30px;
    width: 200px;
}

.filter-text {
    margin-left: -20px;
}

.vertical-border {
    position: absolute;
    transform: translateX(50%);
    width: 2px;
    height: 35px;
    background-color: hsla(0, 0%, 63%, 1);
    margin-top: 17.5px;
    margin-left: 199px;
}

.showing-p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    position: absolute;
    margin-top: -45px;
    margin-left: 350px;
}

.input-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    width: 55px;
    height: 55px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: hsla(0, 0%, 63%, 1);
}
.div-show{
    align-items: row;
    display: flex;
    position: relative;
    margin-left: 70%;
    margin-top: -62.5px;
}
.show-text{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-right: 30px;
    margin-top: 15px;
}
.input-short{
    width: 188px;
    height: 55px;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: hsla(0, 0%, 63%, 1);
    margin-left: -75px;
}
.short-text{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-right: 30px;
    margin-top: 15px;
    padding-left: 20px;
    min-width: 150px;
}
.short-show{
    align-items: row;
    display: flex;
    position: relative;
    margin-left: 83%;
    margin-top: -65px;
}
@media only screen and (max-width: 1900px) {
    .div-show{
        margin-left: 69%;
    }
    .short-show{
        margin-left: 80%;
    }
}
@media only screen and (max-width: 1600px) {
    .div-show{
        margin-left: 66%;
    }
    .short-show{
        margin-left: 76%;
    }
}









.product-our-1{
    height: 446px;
    background: hsla(220, 16%, 96%, 1);
    width: 285px;
    position: relative;

}
.h1-text-product{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    padding-left: 20px;
}
.h2-text-product{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 54%, 1);
    padding-left: 20px;
    margin-top: -20px;
}
.price-product-1{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: hsla(0, 0%, 23%, 1);
    margin-left: 20px;
    margin-top: -10px;
}
.line-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 69%, 1);
    margin-left: 20px;
}
.discound{
    position: absolute;
    margin-top: -4px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    width: 48px;
    height: 48px;
    top: 24px;
    left: 213px;
    background: hsla(0, 73%, 68%, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.btn-add-to-cart-1 {
    width: 202px;
    height: 48px;
    background: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: hsla(42, 59%, 45%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 41.5px;
    z-index: 200;
    margin-top: 170px;
    position: absolute;
}

.dop-info, .dop-info-5 ,.dop-info-6 ,.dop-info-7 ,.dop-info-8{
    width: 285px;
    height: 440px;
    opacity: 72%;
    background: hsla(0, 0%, 23%, 1);
    margin-top: -440px;
}
.share-icon{
    width: 13px;
    height: auto;
    display: flex;
    align-items: row;
    text-align: row;
    z-index: 201;
    position: absolute;
    padding-top: 250px;
    padding-left: 20px;
}
.com-icon{
    width: 13px;
    height: auto;
    margin-top: -37px;
    padding-left: 105px;
    position: absolute;
}
.like-icon{
    width: 13px;
    height: auto;
    margin-top: 7px;
    padding-left: 215px;
    position: absolute;
}
.share-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    padding-top: 243px;
    padding-left: 35px;
}
.compare-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    margin-top: -42.3px;
    padding-left: 125px;
}
.like-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    margin-top: -44.3px;
    padding-left: 230px;
}
.like-icon {
    transition: transform 0.3s ease;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.product-our-2{
    height: 446px;
    background: hsla(220, 16%, 96%, 1);
    width: 285px;
    position: relative;
}
.dop-info-2{
    width: 285px;
    height: 440px;
    opacity: 72%;
    background: hsla(0, 0%, 23%, 1);
    margin-top: -440px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.products-our{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: row;
    justify-content: center;
    gap: 80px;
    margin-top: 200px;
}
.product-our-3{
    height: 446px;
    background: hsla(220, 16%, 96%, 1);
    width: 285px;
    position: relative;
}
.product-our-4, .product-our-5, .product-our-6, .product-our-7, .product-our-8{
    height: 446px;
    background: hsla(220, 16%, 96%, 1);
    width: 285px;
    position: relative;
}
.dop-info-3{
    width: 285px;
    height: 440px;
    opacity: 72%;
    background: hsla(0, 0%, 23%, 1);
    margin-top: -440px;
}
.dop-info-4{
    width: 285px;
    height: 440px;
    opacity: 72%;
    background: hsla(0, 0%, 23%, 1);
    margin-top: -440px;
}
.line-text-3{
    margin-left: 140px;
    margin-top: -45px;
    position: absolute;
}


.dop-info, .dop-info-2, .dop-info-3 , .dop-info-4 , .dop-info-5 ,.dop-info-6 ,.dop-info-7 ,.dop-info-8 {
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.dop-info:hover, .dop-info-2:hover, .dop-info-3:hover , .dop-info-4:hover , .dop-info-5:hover , .dop-info-6:hover , .dop-info-7:hover , .dop-info-8:hover {
    opacity: 0.72; 
}
.new-item{
    background: hsla(171, 62%, 47%, 1);
}
.products-our-2{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: row;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}
.dop-info-5 ,.dop-info-6 ,.dop-info-7 ,.dop-info-8{
    opacity: 0;
    transition: opacity 0.3s ease; 
}
.Show-more{
    width: 245px;
    height: 48px;
    border: 1px;
    border: 1px solid hsla(42, 59%, 45%, 1) ;
    position: absolute;
    color: hsla(42, 59%, 45%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-top: 650px;
}
.share-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgs-share{
    margin-top: 1600px;
    position: absolute;
    width: 100%;

}
.share-text-div{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: hsla(0, 0%, 38%, 1);
    width: 100%;
    margin-top: 200px;
}
.products-our-second{
    margin-top: 1700px;
    position: absolute;
    padding-top: 240px;
}
.div-recomended{
    width: 100%;
    height: 270px;
    background: hsla(34, 62%, 95%, 1);
    margin-top: 1990px;
    position: absolute;
}
.div-high{
    display: flex;
    text-align: row;
    margin-top: 75px;
    margin-left: 10%;
}
.high-text{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
}
.crafted-text{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: hsla(0, 0%, 54%, 1);
    position: absolute;
    padding-left: 74px;
    padding-top: 45px;
}
.verify-text{
    margin-left: -5px;
}
.div-verify{
    position: absolute;
    margin-top: -116px;
    margin-left: 30%;
}
.div-shipping{
    position: absolute;
    margin-top: -116px;
    margin-left: 55%;
}
.div-support{
    position: absolute;
    margin-top: -116px;
    margin-left: 75%;
}
footer{
    border-top: 1px solid hsla(0, 0%, 0%, 0.17);
    margin-top: 2600px;
    min-height: 300px;
    width: 100%;
    position: absolute;
}
.Funiro-footer{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
}
.l400-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 63%, 1);
    margin-left: 200px;
    margin-top: 100px;
}
.links-div{
    position: absolute;
    margin-left: 700px;
    margin-top: -230px;
}
.Links-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 63%, 1);

}
.Home-footer , .Shop-footer , .About-footer , .Contact-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 30px;
}
.Help-div{
    position: absolute;
    margin-left: 1100px;
    margin-top: -230px;
}
.Help-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 63%, 1);
}
.Payment-footer , .Returns-footer , .Privacy-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 30px;
}
.back-loader{
    z-index: 10000;
    position: absolute;
}

.like-div {
    width: 517px;
    min-height: 746px;
    background: hsla(0, 0%, 100%, 1);
    z-index: 12000;
    position: absolute;
    right: 0;
    position: fixed;
    display: none;
    overflow-y: scroll;
}

.liked-card-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}
.liked-line{
    width: 287px;
    background-color: hsla(0, 0%, 85%, 1);
    height: 1px;
    margin-left: 50px;
}


.like-div.show {
    display: block; 
}

.like-div-close{
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.btn-like{
    border: none;
    background-color: #ffffff;
    margin-left: 40px;
    margin-top: 3px;
}
.like-div-close img{
    width: 30px;
    height: auto;
    margin-left: 85%;
    position: absolute;
    margin-top: -55px;
}
.item-like{
    display: flex; 
    flex-direction: column;
}
.liked-item-div-1-img{
    width: 105px;
    height: 105px;
    padding-left: 40px;
    padding-top: 40px;
}
.radius{
    border-radius: 10px;
}
.gold{
    color: rgba(184, 142, 47, 1);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;    
}
.name-item-liked{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 200px;
    margin-top: -90px;
}
.pcs-liked{
    margin-left: 200px;
    margin-top: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.dislike-1 img, .dislike-2 img, .dislike-3 img, .dislike-4 img, .dislike-5 img, .dislike-6 img, .dislike-7 img, .dislike-8 img{
    max-width: 30px;
    height: auto;
    margin-left: 85%;
    margin-top: -25px;
    position: absolute;
}
.display-none-like {
    display: none !important; 
}
.display-block-like {
    display: block !important; 
}